.row
  .user-aside.col-lg-4
    %img{:src => "../assets/praying-man.jpg", :width => "100%", :height => "400px"}
    %a{:href => "#", :class => "edit-cover"} Edit Cover Photo
    .user-info
      %img{:class => "user-image", :src => "../assets/profile.jpg", :width => "120px", :height => "120px"}
      %h3
        Luke Holloway
      %p
        Dev. Short Bio boring stuff goes here.
        %br
        Registered: X Month, 201X
        %br
        Love Score: 10
        %br
        %br

        Ranking: 
        %a{:href => "#"} 8th Most Loved Person
        %br
        %br

        %a{:href => "#"} Increase your ranking
  .user-activity.col-lg-8
    .row.activity-nav
      .col-lg-2
        %h6
          %a{:href => "#"} My Content
      .col-lg-2
        %h6
          %a{:href => "#"} People I Love
      .col-lg-2
        %h6
          %a{:href => "#"} My Store Posts
      .col-lg-2
        %h6
          %a{:href => "#", :class => "activity-active"} Inbox
      .col-lg-2
        %h6
          %a{:href => "#"} Notifications
      .col-lg-2
        %h6
          %a{:href => "#"} Preferences
    %p
      %a{:href => "#", :class => "sendmessage"} + Send New Message
    %row
      .inbox-user.col-lg-2
        %img{:class => "inbox-user-pic", :src => "../assets/profile.jpg", :width => "80px", :height => "80px"}
      .col-lg-10
        %h3
          Hank Myers
        %p
          Just wanted to say Yo.
        %br
        %a{:href => "#", :class => "delete-message"} Delete
        %p.time
          Date it was sent on
