.row
  .user-aside.col-lg-3
    %img{:src => "../assets/meadow.jpg", :width => "100%", :height => "400px"}
    .user-info
      %img{:class => "user-icon", :src => "../assets/profile.jpg", :width => "120px", :height => "120px"}
      %h4
        Luke Holloway
      %p
        hello world
  .user-activity.col-lg-9
    %p
      hello again