.main.col-lg-7
  .banner
    %img{src: "assets/banner.jpg", class: "img-responsive"}

  %navigation.stories-header
    %ul.clearfix
      %li
        %a.active{href: "#"} All Stories
      %li
        %a{href: "#"} Faith
      %li
        %a{href: "#"} News
      %li
        %a{href: "#"} Finances and Stewardship
      %li
        %a{href: "#"} Miscellaneous
      %li
        %a.arr{href: "#"} More

.sub.col-lg-4
  .box.clearfix
    %h1 Placeholder for Home page
    %ul.list.col-md-12.col-lg-6
      %li
        1
        %a{href: "#"} Jesus is King
      %li
        2
        %a{href: "#"} Man Gets healed
      %li
        3
        %a{href: "#"} Getting to heaven
      %li
        4
        %a{href: "#"} Fasting
      %li
        5
        %a{href: "#"} Miley Cyrus

    %ul.list.col-md-12.col-lg-6
      %li
        6
        %a{href: "#"} Christianity and Porn
      %li
        7
        %a{href: "#"} Yaw Ansong in Canada
      %li
        8
        %a{href: "#"} Dag Heward Mills
      %li
        9
        %a{href: "#"} Jesus is Lord
      %li
        10
        %a{href: "#"} Next crowdfunding
