development:
  adapter: postgresql
  encoding: unicode
  database: loveRealm_development
  pool: 5
  username: 
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: loveRealm_test
  pool: 5
  username: 
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: loveRealm_production
  pool: 5
  username: 
  password:
