/* Header */

#top
  background: none repeat scroll 0 0 rgba(244, 243, 248, 0.5)

.header-top
  background: #000 image-url("headerbgred.jpg") no-repeat right center

.top-menu
  background: #000
  font-family: $font-copy
  height: 25px
  width: 70%
  ul
    padding-left: 20px
  li
    float: left
    padding: 2px 11px
    &.home
      background: image-url("homebtn.png") no-repeat center left
      padding-left: 25px
    a
      color: #fff
      text-decoration: none


#social
  background: #c8140f
  width: 30%
  height: 25px
  ul
    float: right
    padding-right: 40px
  li
    color: #fff
    float: left
    padding: 0 11px
    a
      display: block
      width: 21px
      height: 22px
      text-indent: -9999px
    &.facebook
      a
        background: image-url("facebookbtn.png") no-repeat top left
    &.twitter
      a
        background: image-url("twitterbtn.png") no-repeat top left
    &.googlePlus
      a
        background: image-url("googlePlusbtn.png") no-repeat top left


ul.login
  margin-top: 25px
  li
    float: left
    line-height: 1em
    padding: 0 27px
    .user-icon
      position: relative
      width: 42px
      height: 32px
      margin-top: -10px
      padding-right: 10px

/* Content */

.side-nav
  padding: 40px 8px 0 0
  text-align: right
  ul
    li
      padding-bottom: 5px
      a
        color: #676E7E
        font-family: 'calibribold'
        font-size: 14px
        text-decoration: none




