// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Profile
.user-info-bg
  height: 400px
  background: url(meadow.jpg) center
  background-size: cover
  float: left

.user-icon
  display: block
  margin: 0 auto
  position: relative
  top: -60px
  border-radius: 50%
  border: 7px solid white

.user-info 
  background: white
  padding: 0 20px
  h4
    color: black
    font-weight: bold